.font_1 {
  font-family:'Noto Sans Thai',sans-serif;
}

ul {
  margin-bottom: 5em;
  font-family: sans-serif;
}

table {
  border: 1px solid black;
}

thead {
  background-color: black;
  color: #fff
}

form {
  font-family: sans-serif;
  font-style: normal;
}
/* body{
	background:#333333 url(page-bg.jpg);
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#6a6969;
} */

/* #container{
	width:950px;
	margin:0px auto 300px auto;
	background:url(body-bg.png);
	overflow:auto;
	padding-bottom:100px;
} */
