.font_1 {
  font-family:'Noto Sans Thai',sans-serif;
}

ul {
  margin-bottom: 5em;
  font-family: sans-serif;
}

table {
  border: 1px solid black;
}

thead {
  background-color: black;
  color: #fff
}

form {
  font-family: sans-serif;
  font-style: normal;
}
